* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 8px;
}

body {
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  font-weight: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
}

input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  color: inherit;
}

input::-webkit-search-cancel-button {
  display: none;
}

input::-webkit-search-decoration {
  display: none;
}

input::-webkit-color-swatch-wrapper {
  padding: 0;
}

[hidden] {
  display: none !important;
}

em {
  font-style: inherit;
}
